html, body
    box-sizing border-box
    margin 0px
    padding 0px
.bxPge
	box-sizing border-box
	background #f8f8f8
	padding 10px
.container
	width 1000px
	margin 0 auto
.bxWhite
    box-sizing border-box
    background #fff
    width 100%
    padding 45px
    -ms-flex-positive 1 !important
    flex-grow 1 !important
    border-radius 4px
    -webkit-box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
.title
    font-family 'Lato-Black'
    font-size 22px
    width 100%
    text-align center
    margin 15px 0px
.subTitle
    font-family 'Lato-Regular'
    font-size 18px
    width 100%
    text-align left
    margin 20px 0px

/* INPUTS */
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
    box-shadow none !important
input
	position relative
    border-radius 5px !important
	border 1px solid #ccc !important
	padding 0px 20px !important
	font-size 14px !important
	box-sizing border-box !important

input[type="text"]:disabled
	background #e7e7e7
/* Input al hacer click */
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
	border 1px solid #81bb00 !important

/* Input Completo */
input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown
	box-shadow none !important
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea
    border-radius 5px !important
    margin-bottom 0px !important
    width 290px
/* Label al hacer click en el input */
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label
	color #9e9e9e
.input-field
	margin 0px 0px 15px 0px !important
.input-field>label
	padding 0px 10px
	font-size 0.9rem
.input-field>label:not(.label-icon).active
	-webkit-transform translateY(0px) scale(0.8)
	-ms-transform translateY(0px) scale(0.8)
	transform translateY(0px) scale(0.8)
	-webkit-transform-origin 0 0
	-ms-transform-origin 0 0
	transform-origin 0 0
.inputText
	width 290px
	margin-bottom 15px !important
.input-error
	border 1px solid #ff00007a !important
	color #ff0000b5
	border-radius 5px

/* FORMS */
.bxForm3
    width 910px

/* BUTTONS */
.btnSucces
	padding 15px 80px
	border-radius 3px
	background #84bd00
	color #ffffff
	font-size 15px
	font-family 'Lato-Black'
	border-style none !important
	cursor pointer
	text-align center
    max-height 50px
	&:focus
		outline none
		background-color #7aaf00

.full
    width 100%


/* FLEXBOX */
.d-flex
	display -ms-flexbox !important
	display flex !important

.flex-column
	-ms-flex-direction column !important
	flex-direction column !important

.flex-row-reverse
	-ms-flex-direction row-reverse !important
	flex-direction row-reverse !important

.flex-column-reverse
	-ms-flex-direction column-reverse !important
	flex-direction column-reverse !important

.flex-wrap
	-ms-flex-wrap wrap !important
	flex-wrap wrap !important

.flex-nowrap
	-ms-flex-wrap nowrap !important
	flex-wrap nowrap !important

.flex-wrap-reverse
	-ms-flex-wrap wrap-reverse !important
	flex-wrap wrap-reverse !important

.flex-fill
	-ms-flex 1 1 auto !important
	flex 1 1 auto !important

.flex-grow-0
	-ms-flex-positive 0 !important
	flex-grow 0 !important

.flex-grow-1
	-ms-flex-positive 1 !important
	flex-grow 1 !important

.flex-shrink-0
	-ms-flex-negative 0 !important
	flex-shrink 0 !important

.flex-shrink-1
	-ms-flex-negative 1 !important
	flex-shrink 1 !important

.justify-content-start
	-ms-flex-pack start !important
	justify-content flex-start !important

.justify-content-end
	-ms-flex-pack end !important
	justify-content flex-end !important

.justify-content-center
	-ms-flex-pack center !important
	justify-content center !important

.justify-content-between
	-ms-flex-pack justify !important
	justify-content space-between !important

.justify-content-around
	-ms-flex-pack distribute !important
	justify-content space-around !important

.align-items-start
	-ms-flex-align start !important
	align-items flex-start !important

.align-items-end
	-ms-flex-align end !important
	align-items flex-end !important

.align-items-center
	-ms-flex-align center !important
	align-items center !important

.align-items-baseline
	-ms-flex-align baseline !important
	align-items baseline !important

.align-items-stretch
	-ms-flex-align stretch !important
	align-items stretch !important

.align-content-start
	-ms-flex-line-pack start !important
	align-content flex-start !important

.align-content-end
	-ms-flex-line-pack end !important
	align-content flex-end !important

.align-content-center
	-ms-flex-line-pack center !important
	align-content center !important

.align-content-between
	-ms-flex-line-pack justify !important
	align-content space-between !important

.align-content-around
	-ms-flex-line-pack distribute !important
	align-content space-around !important

.align-content-stretch
	-ms-flex-line-pack stretch !important
	align-content stretch !important

.align-self-auto
	-ms-flex-item-align auto !important
	align-self auto !important

.align-self-start
	-ms-flex-item-align start !important
	align-self flex-start!important

.align-self-end
	-ms-flex-item-align end !important
	align-self flex-end !important

.align-self-center
	-ms-flex-item-align center !important
	align-self center !important

.align-self-baseline
	-ms-flex-item-align baseline !important
	align-self baseline !important

.align-self-stretch
	-ms-flex-item-align stretch !important
	align-self stretch !important


/* destock */
@media (min-width: 1200px)
    .container
        width 1100px
/* tablet */
@media only screen and (min-width:767px) and (max-width:1200px)
    .container
        width 100% !important
    .bxForm3
        width 600px
/* mobil */
@media (max-width: 767px)
    .container
        width 100% !important
    .bxWhite
        padding 15px
    .mb-full
        width 100% !important
    /* FORMS */
    .bxForm3
        width 100% !important